# Developer Tool Config Files
.cpcache
.clj-kondo
.idea/
.nrepl-port
.project
.rebel_readline_history
.settings/
.tern-port

# Build Directories and Files

node_modules/
target/
mail-config.edn
package-lock.json

# MacOS X Backups
.DS_Store
