# Developer Tool Config Files
.meghanada/
.tern-port
.gradle/
.classpath
.project
.settings/
.idea/
collect-earth-online.iml

# Build Directories and Files
/bin/
/build/
/target/
/node_modules/
package-lock.json
/src/main/resources/public/js/*.bundle.js
/src/main/resources/public/js/*.bundle.js.map
out.txt
out-win.txt

# MacOS X Backups
.DS_Store

# CSVs Uploaded by Users
/src/main/resources/public/downloads/*.csv

# Google Analytics
/src/main/resources/template/freemarker/googleanalytics.ftl

# Locally compiled Python code and virtualenv directories
*.pyc
src/main/resources/scripts/bin
src/main/resources/scripts/include
src/main/resources/scripts/lib
src/main/resources/scripts/pip-selfcheck.json
