{:pods {org.babashka/fswatcher {:version "0.0.4"}}
 :paths ["."]
 :tasks
 {
  -project  "cljweb-ceo"
  reload    (shell "systemctl --user daemon-reload")
  status    {:depends [-project]
             :task (shell (format "systemctl --user status %s" -project))}
  start     {:depends [-project]
             :task (shell (format "systemctl --user start %s" -project))}
  stop      {:depends [-project]
             :task (shell (format "systemctl --user stop %s" -project))}
  pull      (shell "git pull")
  migrate   (clojure "-M:build-db migrate")
  functions (clojure "-M:build-db functions")
  deploy    (do
              (run 'stop)
              (run 'pull)
              (run 'client-prod)
              (run 'functions)
              #_(run 'migrate)
              (run 'start))}}
