{:mail {:host                  "smtp.gmail.com"
        :user                  "<email>"
        :pass                  "<pass>"
        :tls                   true
        :port                  587
        :base-url              "https://my.domain/"
        :recipient-limit       100
        :mailing-list-interval 600}}
