{:database    {:host     "localhost"
               :port     5432
               :dbname   "ceo"
               :user     "ceo"
               :password "ceo"}
 :mail        {:host     "smtp.gmail.com"
               :user     "<email>"
               :pass     "<pass>"
               :tls      true
               :port     587
               :base-url "https://my.domain/"}
 :server      {:http-port 8080
               :mode      "prod"
               :log-dir   "logs"}
 :ga-id       nil
 :session-key "1234567890qwerty"}
