{:paths ["src/clj" "resources" "target"]

 :deps {clj-http/clj-http         {:mvn/version "3.10.3"}
        clj-python/libpython-clj  {:mvn/version "2.023"}
        org.clojure/clojure       {:mvn/version "1.11.1"}
        org.clojure/data.json     {:mvn/version "1.0.0"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}
        ring/ring                 {:mvn/version "1.8.2"}
        sig-gis/triangulum        {:git/url "https://github.com/sig-gis/triangulum"
                                   :git/sha "4a597e121996129b2a5a5cbf1b4822796d856714"
                                   :git/tag "2023.08.10-4a597e1"}}

 :aliases {:build-db         {:main-opts ["-m" "triangulum.build-db"]}
           :config           {:main-opts ["-m" "triangulum.config"]}
           :https            {:main-opts ["-m" "triangulum.https"]}
           :server           {:main-opts ["-m" "triangulum.server"]
                              :jvm-opts  ["--add-modules=jdk.incubator.foreign"
                                          "--enable-native-access=ALL-UNNAMED"]}
           :systemd          {:main-opts ["-m" "triangulum.systemd"]}
           :rebel            {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                              :main-opts  ["-m" "rebel-readline.main"]}
           :production       {:jvm-opts  ["-XX:MaxRAMPercentage=90" "-XX:+PrintFlagsFinal"]}
           :check-reflection {:main-opts ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                          "-e" "(require,'collect-earth-online.handler)"]}
           :check-deps       {:deps      {olical/depot {:mvn/version "1.8.4"}}
                              :main-opts ["-m" "depot.outdated.main"]}}}
