{:paths ["src/clj" "resources" "target"]

 :deps {bk/ring-gzip              {:mvn/version "0.3.0"}
        com.draines/postal        {:mvn/version "2.0.3"}
        hiccup/hiccup             {:mvn/version "2.0.0-alpha2"}
        org.clojure/clojure       {:mvn/version "1.10.1"}
        org.clojure/core.async    {:mvn/version "1.0.567"}
        org.clojure/data.json     {:mvn/version "1.0.0"}
        org.postgresql/postgresql {:mvn/version "42.2.10"}
        ring/ring                 {:mvn/version "1.8.0"}
        ring/ring-defaults        {:mvn/version "0.3.2"} ; FIXME I dont believe we actually use ring-defaults anymore in any project
        seancorfield/next.jdbc    {:mvn/version "1.0.384"}}

 :aliases {:build-db    {:main-opts ["-m" "org.openforis.ceo.build-db"]}
           :ssl-key-gen {:main-opts ["-m" "org.openforis.ceo.https"]}
           :production  {:jvm-opts  ["-Xmx4096m" "-XX:+PrintFlagsFinal"]}
           :run-server  {:main-opts ["-m" "org.openforis.ceo.server"]}}}

;; FIXME: Merge in these params from pom.xml/build.gradle
;; :repositories "https://repo.osgeo.org/repository/release/"
;; :deps {org.geotools/gt-shapefile {:mvn/version "19.2"}
;;        org.geotools/gt-epsg-hsql {:mvn/version "19.2"}
;; :jvm-opts ["-Xlint:unchecked"]
