{:base-url              "https://collect.earth/"
 :smtp-server           "smtp.gmail.com"
 :smtp-port             587
 :smtp-user             "collectearth.mail@gmail.com"
 :smtp-password         "foobar"
 :smtp-recipient-limit  ?
 :mailing-list-interval ?
 :ssl?                  true}
