#content {
    overflow-x: auto;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}
.grid-sizer {
    width: 25%;
}

.react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}
.widgetEditor-widgetBackground.react-draggable{
    cursor:move;
}

.react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}
.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}
.react-grid-item.cssTransforms {
    transition-property: transform;
}
.react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
}

.react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.ctrlText {
    font-size: .75rem;
}
.btn {
    padding: .275rem .55rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.switchslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #31bab0;
    -webkit-transition: .4s;
    transition: .4s;
}

.switchslider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.switchslider {
    background-color: #31bab0;
}

input:focus+.switchslider {
    box-shadow: 0 0 1px #31bab0;
}

input:checked+.switchslider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

/* Rounded sliders */

.switchslider.round {
    border-radius: 34px;
}

.switchslider.round:before {
    border-radius: 50%;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
#geodash .row {
    /*display: grid;*/
    margin-right: auto;
    margin-left: auto;
}

.main .page-header {
    margin-top: 0;
}


.fullcolumnspan, .columnSpan12{
    max-width:98%!important;
    grid-column-end: span 12;
}
.columnSpan9{
    max-width:97%!important;
    grid-column-end: span 9;
}
.columnSpan6{
    max-width:95%!important;
    grid-column-end: span 6;
}
.columnSpan3{
    max-width:calc(100% - 20px)!important;
    grid-column-end: span 3;
}
.colStart1{
    grid-column-start: 1;
}
.colStart4{
    grid-column-start: 4;
}
.colStart7{
    grid-column-start: 7;
}
.colStart10{
    grid-column-start: 10;
}
.rowSpan1{
    height:362px;
}
.rowSpan2{
    height:745px;
}
.rowSpan3{
    height:1182px;
}
.widgetEditor .rowSpan1{
    height:181px;
}
.widgetEditor .rowSpan2{
    height:384px;
}
.widgetEditor .rowSpan3{
    height:590px;
}
.widgetEditor.title{
    background-color: #31bab0;
    color: white;
    line-height: 26px;
    cursor: default;
}
input#widgetDualLayer {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    top: 5px;
    position: relative;
}
.mapRange.dual {
    width: calc(100% - 85px);
}
.widgetEditor .remove {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.container-fluid.widgetEditor{
    float:left;
    margin-right: unset;
    margin-left: unset;
}
.widgetEditor-widgetBackground{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: 50% 50%!important;
    text-align:center;
    border: 1px solid gray;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.active-link.apply{
    margin-left: 3.2px;
    padding: 6px 40px;
    border: 1px solid #FFCF06;
    background-color: #e8f5f9;
    color: #3c948b!important;
    text-shadow: none!important;
    font-size: 16.8px;
}
.ui-widget-overlay {
    background: #3c948b;
    opacity: .75;
    filter: Alpha(Opacity=30);
}

.active-widget{
    opacity: .5;
    outline: 4px dashed #ecbc0d;
    outline-offset: 1px;
}
.active-placed-widget{
    background-color: #ffff00f0;
}
.rowSpan1 .minmapwidget {
    height: calc(100% - 95px);
}
.rowSpan2 .minmapwidget {
    height: calc(100% - 95px);
}
.rowSpan3 .minmapwidget {
    height: calc(100% - 95px);
}
.rowSpan2 .widget-container .front {
    position: absolute;
    height: 100%;
}
.rowSpan1 .minmapwidget .graphwidget {
    height: 250px;
}
.rowSpan2 .graphwidget{
    height:calc(100% - 125px); /*100%!important;*/
}
.minmapwidget.graphwidget.normal{
    height:100%;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders.row, .placeholdersOld.row {
    margin-right: auto;
    margin-left: auto;
}
.placeholdersOld{
    margin-bottom: 30px;
    text-align: center;
}
.placeholdersOld .placeholder{
    height: 362px;
}
.placeholdersOld .minmapwidget {
    height: calc(100% - 125px);
}

.placeholdersOld .graphwidget{
    height:250px;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
    display: grid;
    /*grid-gap: 10px;*/
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    /* background-color: #fff;
     color: #444;*/
}

.placeholders h4, .placeholdersOld h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}
.placeholder.c1{

}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.widget-container{
    position:relative;
    height:100%;
}
.widget-container .front{
    position:absolute;
    height:100%;
}
.panel-default {
    perspective: 1000px;
    height: 100%;
}
.panel-default > .panel-heading {
    min-height: 35px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading li {
    color: #31bab0;
}
.panel-fullscreen{
    cursor:pointer;
}
a.list-inline.panel-actions.panel-fullscreen{
    float:right;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.bodyfull{
    overflow: hidden;
}
.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.fullwidget{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    left: 0;
}
.fullmapwidget {
    height: -webkit-calc(100% - 124px);
    height: -moz-calc(100% - 124px);
    height: calc(100% - 124px);
}
.highcharts-credits{
    display:none;
}

.minmapwidget {
    width: 100%;
    min-height: 200px;
    height: calc(100% - 98px);
}
.mapRange {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    padding:20px 10px;
}

.mapRange::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.mapRange:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.mapRange::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
/* Special styling for WebKit/Blink */
.mapRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
.mapRange::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
.mapRange::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
.mapRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #31BAB0;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.mapRange:focus::-webkit-slider-runnable-track {
    background: #31BAB0;
}

.mapRange::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #31BAB0;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.mapRange::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.mapRange::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.mapRange:focus::-ms-fill-lower {
    background: #3071a9;
}
.mapRange::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.mapRange:focus::-ms-fill-upper {
    background: #367ebd;
}

.graphwidget{
    height: 250px;
}
.statsWidget {
    padding: 5px;
}

.back {
    width: 100%;
    height: 100%;
    background-color: white;
    min-height: 200px;
    overflow-y: auto;
    padding: 10px;
    color: #334c57;
}

.front {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.ctr {
    display: none;
}

.btn.btn-primary {
    backface-visibility: unset !important;
}

.btn-primary.disabled, .btn-primary:disabled{
    cursor: not-allowed;
}


.flip-container {
    height: 100%;
}

.full .panel .flip-container .back {
    height: 100% !important;
}

.page-header {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,.45);
}

.panel-default {
    border-color: #ddd;
    webkit-box-shadow: 8px -10px 3px rgba(0,0,0,.45);
    box-shadow: 8px 5px 3px rgba(0,0,0,.45);
}
.panel.panel-default{
    overflow:hidden;
}
.ol-control button{
    background-color: rgb(49, 186, 176);
}
.ui-widget.ui-widget-content {
    z-index: 101 !important;
    max-height: 100vh;
    overflow: auto;
}
div#ui-datepicker-div{
    z-index: 2002 !important;
}

.ui-datepicker .ui-datepicker-prev {
    background-image: none;
}
.list-inline {
    margin-bottom: 0px;
}
@media (max-width: 990px) {
    .container-fluid.widgetEditor{
        width: 100%;
    }
}
@media (max-width: 550px) {
    .col-xs-6 {
        width: 100%;
    }
}
@media (max-width: 600px) {

    #geodash .row {
        display: block;
    }

    .row.placeholders {
        display: block;
    }

    .dashHolder.widgetEditor {
        width: 100%;
    }

    .fullcolumnspan, .columnSpan12 {
        max-width: 98% !important;
    }

    .columnSpan9 {
        max-width: 98% !important;
    }

    .columnSpan6 {
        max-width: 98% !important;
    }

    .columnSpan3 {
        max-width: 98% !important;
    }

}