.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0px; /*15px 25px 15px 15px;*/
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    -webkit-box-shadow: 3px -10px 3px rgba(0,0,0,.35);
    box-shadow: 3px 5px 3px rgba(0,0,0,.35);
    border-radius:5px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-content {
    min-width: 250px;
    max-height: 500px;
    overflow-x: auto;
}
.ol-popup-content .cTitle{
    background-color: rgb(199, 231, 238);
    overflow: hidden;
}
.ol-popup-content .cTitle h1{
    color: #3C948B;
    width: 90%;
    padding: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 4px;
    font-weight: 600;
}
.ol-popup-content .cContent{
    padding: 15px 25px 15px 15px;
    color: #3C948B;
}
.pField{
    font-weight: 600;
}
.lnkStart{
    float:right;
    padding-bottom: 5px;
}

.ol-popup-closer {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 150%;
    padding: 0 4px;
    color: gray;
    text-decoration: none;
}

.ol-popup-closer:after {
    content: "\2716";
}

.ol-popup div.infoResult {
    min-width: 130px;
}

.ol-popup div.infoResult p {
    padding: 0.1em;
    margin: 0;
}

.ol-popup-content h3 {
    margin: 0.25em 0;
}

.ol-popup.marker {
    margin-bottom: 30px;
}
