/*****************/
/* Global Styles */
/*****************/

body {
    font-family: Open Sans;
    font-size: 16px;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, h7, p, label {
    font-weight: 400;
}

.button {
    line-height: 100%;
    cursor: pointer;
    background-color: #3FABC6;
    color: white;
    font-family: Oswald;
    text-overflow: ellipsis;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
}

/**********/
/* Navbar */
/**********/

nav {
    display: block;
    position: relative;
    height: 2.5rem;
    width: 100%;
    color: #eee;
    background-color: #3a3a3a;
    /* border: 1px solid orange; */
}

nav ul {
    position: absolute;
    top: 0px;
    left: 40px;
    padding: 0.5rem;
    /* border: 1px solid red; */
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid white; */
}

nav #login-info {
    position: absolute;
    top: 0px;
    right: 40px;
    padding: 0.7rem;
    font-size: 0.8rem;
    /* border: 1px solid white; */
}

nav #login-info a {
    margin-left: 0.2rem;
    padding: 0.3rem;
    border: 1px solid #999;
}

nav a {
    color: #eee;
}

nav a:link, nav a:visited, nav a:active {
    text-decoration: none;
}

nav a:hover, nav a.active-link {
    text-shadow: 0px 0px 4px #fff;
}

/*******************/
/* Branding Banner */
/*******************/

#branding-banner {
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #fff;
    /* border: 1px solid red; */
}

#branding-image {
    display: block;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid orange; */
}

/**********************/
/* Logo Banner */
/**********************/

#logo-banner {
    position: relative;
    height: 55px;
    width: 100%;
    background-color: #fff;
    /* border: 1px solid purple; */
}

#logo-banner img#usaid {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 150px;
}

#logo-banner img#nasa {
    position: absolute;
    top: 0px;
    left: 210px;
    width: 60px;
}

#logo-banner img#adpc {
    position: absolute;
    top: 9px;
    left: 300px;
    width: 80px;
}

#logo-banner img#servir {
    position: absolute;
    top: 12px;
    right: 30px;
    width: 250px;
}

/*******************/
/* Content Section */
/*******************/

section#content {
    display: block;
    position: relative;
    width: calc(100% - 2px);
    color: #222;
    border: 1px solid darkgray;
}

section#content a {
    color: #444;
}

section#content a:link, section#content a:visited, section#content a:active {
    text-decoration: none;
}

section#content a:hover, section#content a.active-link {
    text-shadow: 0px 0px 4px #333;
}

/******************/
/* Flash Messages */
/******************/

.alert {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 35rem;
    border: 1px solid #009;
    padding: 1rem;
    z-index: 1000;
    font-size: 1rem;
    font-style: italic;
    background: white;
    opacity: 0;
    animation: fade-out 5s;
    -webkit-animation: fade-out 5s;
    -moz-animation: fade-out 5s;
    -o-animation: fade-out 5s;
}

@-webkit-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

/****************/
/* Project List */
/****************/

#project-list {
    padding: 1rem;
}

#project-list h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#project-list ul {
    list-style-type: none;
    padding: 0.5rem;
    height: calc(100% - 5.5rem);
    overflow: scroll;
}

#project-list ul li {
    margin-bottom: 0.5rem;
}

#project-list ul li a {
    display: inline-block;
    width: calc(97% - 0.5rem - 2px);
    padding: 0.25rem;
    text-align: center;
    color: #3C948B;
    font-size: 1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    border: 1px solid blue;
}

#project-list ul li a.create-project {
    font-weight: 700;
}

#project-list ul li a.view-project {
    width: calc(76% - 0.5rem - 2px);
}

#project-list ul li a.edit-project {
    width: calc(20% - 0.5rem - 2px);
}

/*************/
/* Home Page */
/*************/

#home {
    position: relative;
    height: 100%;
    width: 100%;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
}

#home #ceo-description {
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    padding: 0.5rem 0rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border-bottom: 2px solid darkgray;
    overflow: scroll;
}

#home #ceo-description img#ceo-logo {
    float: left;
}

#home #ceo-description h1 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: gray;
    text-align: center;
}

#home #ceo-description h2 {
    font-family: Open Sans;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: 400;
    color: #3C948B;
    text-align: center;
}

#home #ceo-description p {
    padding: 0.5rem;
    text-align: center;
}

#home #institution-list {
    position: absolute;
    top: calc(142px + 1rem);
    left: 0vw;
    height: calc(100% - 142px - 3rem);
    width: calc(33vw - 2rem - 2px);
    padding: 1rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border-right: 2px solid darkgray;
}

#home #institution-list h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#home #institution-list ul {
    list-style-type: none;
    padding: 0.5rem;
    height: calc(100% - 5.5rem);
    overflow: scroll;
}

#home #institution-list ul li a {
    color: #3C948B;
    text-align: center;
    font-size: 1rem;
    width: 95%;
    padding: 0.25rem;
    text-decoration: none;
    display: block;
    border: 1px solid blue;
    margin-bottom: 0.5rem;
}

#home #project-list {
    position: absolute;
    top: calc(142px + 1rem);
    left: 33vw;
    height: calc(100% - 142px - 3rem);
    width: calc(34vw - 2rem - 2px);
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border-right: 2px solid darkgray;
}

#home #user-list {
    position: absolute;
    top: calc(142px + 1rem);
    left: 67vw;
    height: calc(100% - 142px - 3rem);
    width: calc(33vw - 2rem);
    padding: 1rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
}

#home #user-list h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#home #user-list #user-map {
    height: calc(100% - 5.5rem);
    padding: 0.5rem;
}

/**************/
/* About Page */
/**************/

#about {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    padding: 2rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* border: 1px solid darkgray; */
    overflow: scroll;
}

#about h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
}

#about p {
    padding: 0.5rem;
}

#about img {
    padding: 0rem 0.5rem;
}

/****************/
/* Support Page */
/****************/

#support {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    padding: 2rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* border: 1px solid darkgray; */
    overflow: scroll;
}

#support h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
}

#support p {
    padding: 0.5rem;
}

/*****************************************************/
/* Login / Register / Password Reset / Account Pages */
/*****************************************************/

#login-form, #register-form, #password-form, #account-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(80% - 4rem);
    width: 25vw;
    padding: 2rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border: 1px solid darkgray;
}

#login-form h1, #register-form h1, #password-form h1, #account-form h1 {
    font-size: 1.7rem;
    font-weight: 100;
    padding: 0 0.5rem 0.5rem 0.5rem;
    color: gray;
}

#login-form h2, #register-form h2, #password-form h2, #account-form h2 {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.1rem;
    color: darkgray;
}

#login-form input#email, #login-form input#password, #login-form input#password-confirmation, #login-form input#password-reset-key, #login-form input#current-password, #register-form input#email, #register-form input#password, #register-form input#password-confirmation, #register-form input#password-reset-key, #register-form input#current-password, #password-form input#email, #password-form input#password, #password-form input#password-confirmation, #password-form input#password-reset-key, #password-form input#current-password, #account-form input#email, #account-form input#password, #account-form input#password-confirmation, #account-form input#password-reset-key, #account-form input#current-password {
    height: 2rem;
    width: 20rem;
    border: 1px solid #ececec;
    margin: 0.3rem;
    padding: 0px 5px;
}

#login-form input#email:focus, #login-form input#password:focus, #login-form input#password-confirmation:focus, #login-form input#password-reset-key:focus, #login-form input#current-password:focus, #register-form input#email:focus, #register-form input#password:focus, #register-form input#password-confirmation:focus, #register-form input#password-reset-key:focus, #register-form input#current-password:focus, #password-form input#email:focus, #password-form input#password:focus, #password-form input#password-confirmation:focus, #password-form input#password-reset-key:focus, #password-form input#current-password:focus, #account-form input#email:focus, #account-form input#password:focus, #account-form input#password-confirmation:focus, #account-form input#password-reset-key:focus, #account-form input#current-password:focus {
    border: 1px solid darkgray;
    cursor: grab;
}

#login-form input#email:hover, #login-form input#password:hover, #login-form input#password-confirmation:hover, #login-form input#password-reset-key:hover, #login-form input#current-password:hover, #register-form input#email:hover, #register-form input#password:hover, #register-form input#password-confirmation:hover, #register-form input#password-reset-key:hover, #register-form input#current-password:hover, #password-form input#email:hover, #password-form input#password:hover, #password-form input#password-confirmation:hover, #password-form input#password-reset-key:hover, #password-form input#current-password:hover, #account-form input#email:hover, #account-form input#password:hover, #account-form input#password-confirmation:hover, #account-form input#password-reset-key:hover, #account-form input#current-password:hover {
    border: 1px solid gray;
    cursor: pointer;
}

#login-form p#forgot-password a, #register-form p#forgot-password a, #password-form p#forgot-password a, #account-form p#forgot-password a {
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0.5rem 0.5rem 0rem 1rem;
}

#login-form input.button, #register-form input.button, #password-form input.button, #account-form input.button {
    height: 2rem;
    width: 21rem;
    margin: 0.6rem 0.3rem;
    padding: 0.5rem;
    border: 1px solid #ececec;
}

#login-form input.button:focus, #register-form input.button:focus, #password-form input.button:focus, #account-form input.button:focus {
    border: 1px solid #999;
}

#login-form hr, #register-form hr, #password-form hr, #account-form hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/***********************/
/* Page Not Found Page */
/***********************/

#access-denied, #page-not-found, #error-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(80% - 4rem);
    width: 25vw;
    padding: 2rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border: 1px solid darkgray;
}

#access-denied h3, #page-not-found h3, #error-page h3 {
    font-size: 1.5rem;
    font-weight: 100;
    color: #f57900;
}

p.error-message {
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
    color: #555;
}

/********************/
/* Institution Page */
/********************/

#institution {
    position: relative;
    height: 100%;
    width: 100%;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
}

#institution #institution-details {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 2rem);
    width: calc(34vw - 2rem);
    padding: 1rem;
    border:0px;
    overflow: scroll;
}

#institution #institution-details h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#institution #institution-details img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}

#institution #institution-details a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-overflow: ellipsis;
}

#institution #institution-details p {
    padding: 0.5rem;
}

#institution #project-list {
    position: absolute;
    top: 0;
    left: 34vw;
    height: calc(100% - 2rem);
    width: calc(33vw - 2rem - 4px);
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border-top: 0px;
    border-bottom: 0px;
    border-right: 2px solid darkgray;
    border-left: 2px solid darkgray;
}

#institution #user-list {
    position: absolute;
    top: 0;
    left: 67vw;
    height: calc(100% - 2rem);
    width: calc(33vw - 2rem);
    padding: 1rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border:0px;
}

#institution #user-list h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#institution #user-list ul {
    list-style-type: none;
    padding: 0.5rem;
    height: calc(100% - 5.5rem);
    overflow: scroll;
}

#institution #user-list ul li a {
    color: #3C948B;
    text-align: center;
    font-size: 1rem;
    width: 95%;
    padding: 0.25rem;
    text-decoration: none;
    display: block;
    border: 1px solid blue;
    margin-bottom: 0.5rem;
}

#institution #user-list #user-map {
    height: calc(100% - 5.5rem);
    padding: 0.5rem;
}

/******************/
/* Dashboard Page */
/******************/

#dashboard {
    height: 100%;
    padding: 0rem;
    background: rgba(255,255,255,0.8);
}

#dashboard #quit-button {
    width: 5rem;
    height: 40px;
    border: none;
    text-align: center;
    position: absolute;
    margin-top: 0rem;
    z-index: 500;
    font-size: 17;
    background-color: #3FABC6;
    display: inline-block;
    left: calc(70vw - 5rem);
}

#dashboard #image-analysis-pane {
    float: left;
    height: 100%;
    width: 70%;
    background-color: darkgray;
}

#dashboard .ol-dragbox {
    background-color: rgba(255,255,255,0.4);
    border-color: rgba(100,150,0,1);
}

#dashboard .ol-rotate {
    top: 4rem;
}

#dashboard #sidebar {
    float: right;
    height: 100%;
    width: 30%;
    padding: 0rem;
    overflow: scroll;
}

#dashboard #sidebar #sidebar-contents {
    height: 100%;
}

#dashboard #sidebar #sidebar-contents fieldset {
    margin-top: 0px;
}

#dashboard #sidebar #sidebar-contents fieldset legend {
    margin-top: -5px;
    padding: 10px 0px;
    color: #3FABC6;
    font-size: 1.2rem;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    text-indent: 10px;
}

#dashboard #sidebar #sidebar-contents fieldset select#project-id {
    line-height: 90%;
    width: 100%;
    text-index: 5px;
    font-family: Verdana,Geneva,sans-serif;
    height: 1.8rem;
    border: none;
    padding: 0rem;
    outline: none;
    font-weight: 200;
    font-size: 0.9rem;
    color: #3D3B39;
}

#dashboard #sidebar #sidebar-contents fieldset option {
    color: #3D3B39;
    text-indent: 5px;
}

#dashboard #sidebar #sidebar-contents fieldset input#new-plot-button {
    margin: 10px 5px 5px 5px;
    padding: 8px 0px;
    font-size: 1.2rem;
    text-align: left;
}

#dashboard #sidebar #sidebar-contents fieldset ul li {
    float: left;
    width: 50%;
}

#dashboard #sidebar #sidebar-contents fieldset ul li input {
    height: 40px;
    width: 100%;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: left;
    text-indent: 10px;
    cursor: pointer;
}

#dashboard #sidebar #sidebar-contents fieldset #final-plot-options {
    clear: left;
    float: left;
    margin-left: 5px;
}

#dashboard #sidebar #sidebar-contents fieldset #final-plot-options td {
    padding: 5px;
    color: #3FABC6;
    font-size: 1.2rem;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

#dashboard #sidebar #sidebar-contents fieldset #final-plot-options td input#save-values-button, #dashboard #sidebar #sidebar-contents fieldset #final-plot-options td input#flag-plot-button {
    padding: 8px 0px;
    font-size: 1.2rem;
}

#dashboard #imagery-info {
    width: 40%;
    top: -1.5rem;
    padding: 0.25rem;
    text-align: center;
    position: relative;
    font-size: 0.8rem;
    background-color: rgba(75,75,150,0.6);
    clear: both;
    color: white;
    left: 18%;
}

/**************/
/* Admin Page */
/**************/

#admin {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    background: rgba(255,255,255,0.9);
    overflow: scroll;
}

#admin h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#admin #project-selection {
    margin-bottom: 10px;
}

#admin #project-selection label {
    font-size: 1rem;
    font-family: Oswald;
    font-weight: 400;
    color: #3fabc6;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

#admin #project-selection select {
    border: 1px solid darkgray;
    height: 2rem;
    font-size: 0.9rem;
}

#admin input#download-plot-data {
    position: absolute;
    top: 10px;
    right: 15rem;
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#admin input#create-project {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#admin fieldset {
    margin-right: 1.5rem;
}

#admin legend {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: Oswald;
    font-weight: 400;
    color: #3fabc6;
    text-transform: uppercase;
}

#admin #project-info label, #admin #plot-info label, #admin #sample-info label, #admin #bounding-box label {
    display: block;
    font-size: 0.8rem;
    padding: 0.25rem 0rem;
}

#admin input#project-name, #admin input#plots, #admin input#radius, #admin input#samples-per-plot, #admin input#sample-resolution, #admin input#lat-max, #admin input#lon-min, #admin input#lon-max, #admin input#lat-min {
    height: 1rem;
    padding: 0.3rem;
    margin-bottom: 5px;
}

#admin fieldset#project-info {
    float: left;
    width: 18%;
}

#admin fieldset#project-info input#project-name {
    width: 90%;
}

#admin fieldset#project-info textarea#project-description {
    height: 6rem;
    width: 90%;
    padding: 0rem 0.7rem;
    border-radius: 0.25rem;
    border: 1px solid darkgray;
}

#admin fieldset#plot-info {
    float: left;
    width: 10%;
}

#admin fieldset#plot-info input#plots, #admin fieldset#plot-info input#radius {
    width: 80%;
}

#admin fieldset#sample-info {
    float: left;
    width: 12%;
}

#admin fieldset#sample-info input#random-sample-type, #admin fieldset#sample-info input#gridded-sample-type {
    vertical-align: middle;
}

#admin fieldset#sample-info input#samples-per-plot, #admin fieldset#sample-info input#sample-resolution {
    width: 80%;
}

#admin fieldset#sample-info table {
    margin-left: 1rem;
    background-color: white;
    border: 1px solid #aaa;
}

#admin fieldset#sample-info table td {
    padding: 0px 5px;
}

#admin fieldset#bounding-box {
    float: left;
    width: 15rem;
}

#admin fieldset#bounding-box label {
    text-align: center;
    margin-bottom: 5px;
}

#admin fieldset#bounding-box input {
    display: block;
    width: 5rem;
}

#admin fieldset#bounding-box input#lat-max {
    margin: 0rem auto 0.25rem auto;
}

#admin fieldset#bounding-box input#lon-min {
    margin: 0.25rem 0rem;
    float: left;
}

#admin fieldset#bounding-box input#lon-max {
    margin: 0.25rem 0rem;
    float: right;
}

#admin fieldset#bounding-box input#lat-min {
    clear: both;
    margin: 0.25rem auto;
}

#admin #map-and-imagery {
    position: absolute;
    top: 5rem;
    right: 20px;
    width: calc(100% - 18% - 10% - 12% - 15rem - 4.5rem - 50px);
    height: calc(60vh + 2rem + 5px);
}

#admin #map-and-imagery #new-project-map {
    height: 60vh;
    margin-bottom: 5px;
    border: 1px solid black;
}

#admin #map-and-imagery label {
    font-size: 1rem;
    font-family: Oswald;
    font-weight: 400;
    color: #3fabc6;
    text-transform: uppercase;
    display: inline;
}

#admin #map-and-imagery select {
    border: 1px solid darkgray;
    height: 2rem;
    font-size: 0.9rem;
}

#admin fieldset#sample-value-info {
    float: left;
    clear: both;
    margin-bottom: 20px;
}

#admin fieldset#sample-value-info th, #admin fieldset#sample-value-info td {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.25rem;
}

#admin fieldset#sample-value-info input.button {
    min-width: 2rem;
    min-height: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: white;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

#admin fieldset#sample-value-info .circle {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 0rem auto;
}

#admin fieldset#sample-value-info input#value-name, #admin fieldset#sample-value-info input#value-color, #admin fieldset#sample-value-info input#value-image {
    font-size: 0.9rem;
    height: 2rem;
    padding: 0rem;
    margin-bottom: 5px;
}

#admin #spinner {
    position: absolute;
    top: 1rem;
    left: 45%;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border-bottom: 0.5rem solid #3fabc6;
    visibility: hidden;
    animation: sweep 1s infinite linear;
    -webkit-animation: sweep 1s infinite linear;
    -moz-animation: sweep 1s infinite linear;
    -o-animation: sweep 1s infinite linear;
}

@-webkit-keyframes sweep { to { -webkit-transform:rotate(360deg); } }

@-moz-keyframes    sweep { to { -moz-transform:rotate(360deg); } }

@-o-keyframes      sweep { to { -o-transform:rotate(360deg); } }

@keyframes         sweep { to { transform:rotate(360deg); } }
