/*****************/
/* Global Styles */
/*****************/

body {
    font-family: Open Sans;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, h7, p, label {
    font-weight: 400;
}

.button {
    line-height: 100%;
    cursor: pointer;
    background-color: #3FABC6;
    color: white;
    font-family: Oswald;
    text-overflow: ellipsis;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(21,21,153,0.6);
}

/**********/
/* Navbar */
/**********/

nav {
    display: block;
    position: relative;
    height: 2.5rem;
    width: 100%;
    color: #eee;
    background-color: #3a3a3a;
    /* border: 1px solid orange; */
}

nav img#ceo-site-logo {
    position: absolute;
    top: 0px;
    left: 10px;
    height: 2rem;
    padding:0.25rem;
}

nav ul {
    position: absolute;
    top: 0px;
    left: 150px;
    padding: 0.5rem;
    /* border: 1px solid red; */
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid white; */
}

nav #login-info {
    position: absolute;
    top: 0px;
    right: 40px;
    padding: 0.7rem;
    font-size: 0.8rem;
    /* border: 1px solid white; */
}

nav #login-info a {
    margin-left: 0.2rem;
    padding: 0.3rem;
    border: 1px solid #999;
}

nav a {
    color: #eee;
}

nav a:link, nav a:visited, nav a:active {
    text-decoration: none;
}

nav a:hover, nav a.active-link {
    text-shadow: 0px 0px 4px #fff;
}

/**********************/
/* Logo Banner */
/**********************/

#logo-banner {
    position: relative;
    height: 55px;
    width: 100%;
    background-color: #fff;
    /* border: 1px solid purple; */
}

#logo-banner img#usaid {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 150px;
}

#logo-banner img#nasa {
    position: absolute;
    top: 0px;
    left: 210px;
    width: 60px;
}

#logo-banner img#adpc {
    position: absolute;
    top: 9px;
    left: 300px;
    width: 80px;
}

#logo-banner img#sig {
    position: absolute;
    top: 0px;
    left: 410px;
    width: 230px;
}

#logo-banner img#servir {
    position: absolute;
    top: 12px;
    right: 30px;
    width: 250px;
}

/*******************/
/* Content Section */
/*******************/

section#content {
    display: block;
    position: relative;
    width: calc(100% - 2px);
    color: #222;
    border: 1px solid darkgray;
}

section#content a {
    color: #666;
}

section#content a:link, section#content a:visited, section#content a:active {
    text-decoration: none;
}

section#content a:hover, section#content a.active-link {
    text-shadow: 0px 0px 4px #333;
}

/******************/
/* Flash Messages */
/******************/

.alert {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 35rem;
    border: 1px solid #009;
    padding: 1rem;
    z-index: 1000;
    font-size: 1rem;
    font-style: italic;
    background: white;
    opacity: 0;
    animation: fade-out 5s;
    -webkit-animation: fade-out 5s;
    -moz-animation: fade-out 5s;
    -o-animation: fade-out 5s;
}

@-webkit-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

/********************/
/* Institution List */
/********************/

#institution-list {
    padding: 1rem;
}

#institution-list h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#institution-list ul {
    list-style-type: none;
    padding: 0.5rem;
    height: calc(100% - 5.5rem);
    overflow: auto;
}

#institution-list ul li {
    margin-bottom: 0.5rem;
}

#institution-list ul li a {
    display: inline-block;
    width: calc(97% - 0.5rem - 2px);
    padding: 0.25rem;
    text-align: center;
    color: #3C948B;
    font-size: 1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    border: 1px solid blue;
}

#institution-list ul li a.create-institution {
    font-weight: 700;
}

/****************/
/* Project List */
/****************/

#project-list {
    padding: 1rem;
}

#project-list h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#project-list ul {
    list-style-type: none;
    padding: 0.5rem;
    height: calc(100% - 5.5rem);
    overflow: auto;
}

#project-list ul li {
    margin-bottom: 0.5rem;
}

#project-list ul li input#create-project {
    display: inline-block;
    width: calc(99.5% - 0.5rem - 2px);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.0);
    padding: 0.25rem;
    color: #3C948B;
    font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
    border: 1px solid blue;
}

#project-list ul li a {
    display: inline-block;
    width: calc(97% - 0.5rem - 2px);
    padding: 0.25rem;
    text-align: center;
    color: #3C948B;
    font-size: 1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    border: 1px solid blue;
}

#project-list ul li a.view-project {
    width: calc(76% - 0.5rem - 2px);
}

#project-list ul li a.edit-project {
    width: calc(20% - 0.5rem - 2px);
}

/*************/
/* Home Page */
/*************/

#home {
    position: relative;
    height: 100%;
    width: 100%;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
}

#home #ceo-description {
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    padding: 0.5rem 0rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border-bottom: 2px solid darkgray;
    overflow: auto;
}

#home #ceo-description img#ceo-logo {
    float: left;
}

#home #ceo-description h1 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: gray;
    text-align: center;
}

#home #ceo-description h2 {
    font-family: Open Sans;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: 400;
    color: #3C948B;
    text-align: center;
}

#home #ceo-description p {
    padding: 0.5rem;
    text-align: center;
}

#home #institution-list {
    position: absolute;
    top: calc(142px + 1rem);
    left: 0vw;
    height: calc(100% - 142px - 3rem);
    width: calc(33vw - 2rem - 2px);
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border-right: 2px solid darkgray;
}

#home #project-list {
    position: absolute;
    top: calc(142px + 1rem);
    left: 33vw;
    height: calc(100% - 142px - 3rem);
    width: calc(34vw - 2rem - 2px);
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border-right: 2px solid darkgray;
}

#home #user-list {
    position: absolute;
    top: calc(142px + 1rem);
    left: 67vw;
    height: calc(100% - 142px - 3rem);
    width: calc(33vw - 2rem);
    padding: 1rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
}

#home #user-list h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#home #user-list #user-map {
    height: calc(100% - 5.5rem);
    padding: 0.5rem;
}

#home #user-list ul {
    list-style-type: none;
    padding: 0.5rem;
    height: calc(100% - 5.5rem);
    overflow: auto;
}

#home #user-list ul li {
    margin-bottom: 0.5rem;
}

#home #user-list ul li a {
    display: inline-block;
    width: calc(97% - 0.5rem - 2px);
    padding: 0.25rem;
    text-align: center;
    color: #3C948B;
    font-size: 1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    border: 1px solid blue;
}

/**************/
/* About Page */
/**************/

#about {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    padding: 2rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* border: 1px solid darkgray; */
    overflow: auto;
}

#about h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
}

#about p {
    padding: 0.5rem;
}

/****************/
/* Support Page */
/****************/

#support {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    padding: 2rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* border: 1px solid darkgray; */
    overflow: auto;
}

#support h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
}

#support p {
    padding: 0.5rem;
}

/*****************************************************/
/* Login / Register / Password Reset / Account Pages */
/*****************************************************/

#login-form, #register-form, #password-form, #account-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(80% - 4rem);
    width: 25vw;
    padding: 2rem;
    overflow: auto;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border: 1px solid darkgray;
}

#login-form h1, #register-form h1, #password-form h1, #account-form h1 {
    font-size: 1.7rem;
    font-weight: 100;
    padding: 0 0.5rem 0.5rem 0.5rem;
    color: gray;
}

#login-form h2, #register-form h2, #password-form h2, #account-form h2 {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.1rem;
    color: darkgray;
}

#login-form input#email, #login-form input#password, #login-form input#password-confirmation, #login-form input#password-reset-key, #login-form input#current-password, #register-form input#email, #register-form input#password, #register-form input#password-confirmation, #register-form input#password-reset-key, #register-form input#current-password, #password-form input#email, #password-form input#password, #password-form input#password-confirmation, #password-form input#password-reset-key, #password-form input#current-password, #account-form input#email, #account-form input#password, #account-form input#password-confirmation, #account-form input#password-reset-key, #account-form input#current-password {
    height: 2rem;
    width: 20rem;
    border: 1px solid #ececec;
    margin: 0.3rem;
    padding: 0px 5px;
}

#login-form input#email:focus, #login-form input#password:focus, #login-form input#password-confirmation:focus, #login-form input#password-reset-key:focus, #login-form input#current-password:focus, #register-form input#email:focus, #register-form input#password:focus, #register-form input#password-confirmation:focus, #register-form input#password-reset-key:focus, #register-form input#current-password:focus, #password-form input#email:focus, #password-form input#password:focus, #password-form input#password-confirmation:focus, #password-form input#password-reset-key:focus, #password-form input#current-password:focus, #account-form input#email:focus, #account-form input#password:focus, #account-form input#password-confirmation:focus, #account-form input#password-reset-key:focus, #account-form input#current-password:focus {
    border: 1px solid darkgray;
    cursor: grab;
}

#login-form input#email:hover, #login-form input#password:hover, #login-form input#password-confirmation:hover, #login-form input#password-reset-key:hover, #login-form input#current-password:hover, #register-form input#email:hover, #register-form input#password:hover, #register-form input#password-confirmation:hover, #register-form input#password-reset-key:hover, #register-form input#current-password:hover, #password-form input#email:hover, #password-form input#password:hover, #password-form input#password-confirmation:hover, #password-form input#password-reset-key:hover, #password-form input#current-password:hover, #account-form input#email:hover, #account-form input#password:hover, #account-form input#password-confirmation:hover, #account-form input#password-reset-key:hover, #account-form input#current-password:hover {
    border: 1px solid gray;
    cursor: pointer;
}

#login-form p#forgot-password a, #register-form p#forgot-password a, #password-form p#forgot-password a, #account-form p#forgot-password a {
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0.5rem 0.5rem 0rem 1rem;
}

#login-form input.button, #register-form input.button, #password-form input.button, #account-form input.button {
    height: 2rem;
    width: 21rem;
    margin: 0.6rem 0.3rem;
    padding: 0.5rem;
    border: 1px solid #ececec;
}

#login-form input.button:focus, #register-form input.button:focus, #password-form input.button:focus, #account-form input.button:focus {
    border: 1px solid #999;
}

#login-form hr, #register-form hr, #password-form hr, #account-form hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/***********************/
/* Page Not Found Page */
/***********************/

#access-denied, #page-not-found, #error-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(80% - 4rem);
    width: 25vw;
    padding: 2rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border: 1px solid darkgray;
}

#access-denied h3, #page-not-found h3, #error-page h3 {
    font-size: 1.5rem;
    font-weight: 100;
    color: #f57900;
}

p.error-message {
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
    color: #555;
}

/********************/
/* Institution Page */
/********************/

#institution {
    position: relative;
    height: 100%;
    width: 100%;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
}

#institution #institution-details {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 2rem);
    width: calc(34vw - 2rem);
    padding: 1rem;
    border:0px;
    overflow: auto;
}

#institution #institution-details #institution-view {
    margin-bottom: 1rem;
}

#institution #institution-details #institution-view h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#institution #institution-details #institution-view img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}

#institution #institution-details #institution-view a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-overflow: ellipsis;
}

#institution #institution-details #institution-view p {
    padding: 0.5rem;
}

#institution #institution-details #institution-edit {
    margin-bottom: 1rem;
}

#institution #institution-details #institution-edit label {
    display: block;
    padding: 0.25rem 0rem;
    font-size: 1.2rem;
    font-weight: 100;
    color: gray;
}

#institution #institution-details #institution-edit input[type=text] {
    height: 1rem;
    width: calc(95% - 0.5rem - 2px);
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    color: darkgray;
    border: 1px solid darkgray;
}

#institution #institution-details #institution-edit input[type=file] {
    margin-bottom: 0.5rem;
}

#institution #institution-details #institution-edit textarea {
    height: 6rem;
    width: calc(95% - 0.5rem - 2px);
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    color: darkgray;
    border: 1px solid darkgray;
}

#institution #institution-details input[type=button] {
    display: inline-block;
    margin-left: 5%;
    width: calc(40% - 0.5rem - 2px);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.0);
    padding: 0.25rem;
    color: #3C948B;
    font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
    border: 1px solid blue;
}

#institution #institution-details input#create-institution {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(60% - 0.5rem - 2px);
}

#institution #project-list {
    position: absolute;
    top: 0;
    left: 34vw;
    height: calc(100% - 2rem);
    width: calc(33vw - 2rem - 4px);
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border-top: 0px;
    border-bottom: 0px;
    border-right: 2px solid darkgray;
    border-left: 2px solid darkgray;
}

#institution #user-list {
    position: absolute;
    top: 0;
    left: 67vw;
    height: calc(100% - 2rem);
    width: calc(33vw - 2rem);
    padding: 1rem;
    /* background: rgba(255,255,255,0.8); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    /* -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); */
    border:0px;
}

#institution #user-list h1 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    color: gray;
    text-align: center;
}

#institution #user-list ul {
    list-style-type: none;
    padding: 0.5rem;
    height: calc(100% - 5.5rem);
    overflow: auto;
}

#institution #user-list ul li {
    margin-bottom: 0.5rem;
}

#institution #user-list ul li a {
    display: inline-block;
    padding: 0.25rem;
    text-align: center;
    color: #3C948B;
    font-size: 1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    border: 1px solid blue;
}

#institution #user-list ul li a.wide-user-entry {
    width: calc(97% - 0.5rem - 2px);
}

#institution #user-list ul li a.narrow-user-entry {
    width: calc(67% - 0.5rem - 2px);
}

#institution #user-list ul li select {
    display: inline-block;
    width: calc(30% - 2px);
    text-align: center;
    color: #3C948B;
    font-size: 1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    border: 1px solid blue;
}

#institution #user-list #user-map {
    height: calc(100% - 5.5rem);
    padding: 0.5rem;
}

/******************/
/* Dashboard Page */
/******************/

#dashboard {
    height: 100%;
    padding: 0rem;
    background: rgba(255,255,255,0.8);
}

#dashboard #quit-button {
    position: absolute;
    right: 30%;
    height: 40px;
    width: 5rem;
    text-align: center;
    background-color: #3FABC6;
    z-index: 500;
    box-shadow: none;
    border: none;
}

#dashboard #image-analysis-pane {
    float: left;
    height: 100%;
    width: 70%;
    background-color: darkgray;
}

#dashboard .ol-dragbox {
    background-color: rgba(255,255,255,0.4);
    border-color: rgba(100,150,0,1);
}

#dashboard .ol-rotate {
    top: 4rem;
}

#dashboard #sidebar {
    float: right;
    height: 100%;
    width: 30%;
    padding: 0rem;
    overflow: auto;
}

#dashboard #sidebar fieldset {
    margin-top: 0px;
}

#dashboard #sidebar fieldset legend {
    margin-top: -5px;
    padding: 10px 0px;
    color: #3FABC6;
    font-size: 1.2rem;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    text-indent: 10px;
}

#dashboard #sidebar fieldset select#project-id {
    line-height: 90%;
    width: 100%;
    text-indent: 5px;
    font-family: Verdana,Geneva,sans-serif;
    height: 1.8rem;
    border: none;
    padding: 0rem;
    outline: none;
    font-weight: 200;
    font-size: 0.9rem;
    color: #3D3B39;
}

#dashboard #sidebar fieldset option {
    color: #3D3B39;
    text-indent: 5px;
}

#dashboard #sidebar fieldset input#new-plot-button {
    margin: 10px 5px 5px 5px;
    padding: 8px 0px;
    font-size: 1.2rem;
    text-align: left;
}

#dashboard #sidebar fieldset ul li {
    float: left;
    width: 50%;
}

#dashboard #sidebar fieldset ul li input {
    height: 40px;
    width: 100%;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: left;
    text-indent: 10px;
    cursor: pointer;
}

#dashboard #sidebar fieldset #final-plot-options {
    clear: left;
    float: left;
    margin-left: 5px;
}

#dashboard #sidebar fieldset #final-plot-options td {
    padding: 5px;
    color: #3FABC6;
    font-size: 1.2rem;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

#dashboard #sidebar fieldset #final-plot-options td input#save-values-button, #dashboard #sidebar fieldset #final-plot-options td input#flag-plot-button {
    padding: 8px 0px;
    font-size: 1.2rem;
}

#dashboard #imagery-info {
    position: absolute;
    bottom: 0;
    left: 18%;
    width: 40%;
    line-height: 1rem;
    padding: 0.25rem;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    background-color: rgba(75,75,150,0.6);
}

/***************************/
/* Project Management Page */
/***************************/

#project {
    height: 100%;
    width: 100%;
}

#project fieldset {
    margin-bottom: 10px;
}

#project h1 {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

#project h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#project legend {
    font-size: 1rem;
    font-family: Oswald;
    font-weight: 400;
    color: #3fabc6;
    text-transform: uppercase;
}

#project label {
    display: block;
    font-size: 0.8rem;
    padding: 0.25rem 0rem;
}

#project input[type=text],
#project input[type=number] {
    height: 0.8rem;
    font-size: 0.8rem;
    padding: 0.1rem;
    margin-bottom: 5px;
}

#project input[type=radio] {
    vertical-align: middle;
}

#project table {
    background-color: white;
    border: 1px solid #aaa;
}

#project table td {
    padding: 0px 5px;
}

#project #project-dashboard {
    position: absolute;
    top: 10px;
    left: 10px;
    height: calc(100% - 10px);
    width: calc(55% - 20px);
    overflow: auto;
}

#project #project-dashboard #project-map {
    height: 65%;
    width: calc(100% - 12px);
    margin-bottom: 10px;
    border: 1px solid black;
}

#project #project-dashboard #project-stats {
    float: left;
    width: calc(50% - 5px);
}

#project #project-dashboard #project-stats table {
    margin-left: auto;
    margin-right: auto;
}

#project #project-dashboard #project-stats table td {
    font-size: 0.8rem;
}

#project #project-dashboard #project-management{
    float: right;
    margin-right: 10px;
    width: calc(50% - 5px);
}

#project #project-dashboard #project-management #change-availability {
    display: block;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#project #project-dashboard #project-management #configure-geo-dash {
    display: block;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}

#project #project-dashboard #project-management #download-plot-data {
    display: block;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}

#project #project-design {
    position: absolute;
    top: 10px;
    right: 10px;
    height: calc(100% - 10px);
    width: calc(45% - 10px);
    overflow: auto;
}

#project #project-design #project-info {
    float: left;
    width: 60%;
    margin-right: 10px;
}

#project #project-design #project-info #project-name {
    width: 90%;
}

#project #project-design #project-info #project-description {
    height: 2rem;
    width: 90%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.25rem;
    border: 1px solid darkgray;
}

#project #project-design #project-visibility {
    float: left;
    width: 35%;
}

#project #project-design #project-aoi {
    float: left;
    width: 40%;
    margin-right: 25px;
}

#project #project-design #project-aoi label {
    text-align: center;
    margin-bottom: 5px;
}

#project #project-design #project-aoi input[type=number] {
    display: block;
    width: 5rem;
}

#project #project-design #project-aoi #lat-max {
    margin: 0rem auto 0.25rem auto;
}

#project #project-design #project-aoi #lon-min {
    margin: 0.25rem 0rem;
    float: left;
}

#project #project-design #project-aoi #lon-max {
    margin: 0.25rem 0rem;
    float: right;
}

#project #project-design #project-aoi #lat-min {
    clear: both;
    margin: 0.25rem auto;
}

#project #project-design #project-imagery {
    float: left;
    width: 50%;
}

#project #project-design #project-imagery select {
    height: 1.6rem;
    width: 90%;
    font-size: 0.8rem;
    margin-bottom: 5px;
    border: 1px solid darkgray;
}

#project #project-design #plot-design {
    float: left;
    width: 45%;
    margin-right: 20px;
}

#project #project-design #plot-design #plot-design-col1,
#project #project-design #plot-design #plot-design-col2 {
    float: left;
    width: 50%;
}

#project #project-design #plot-design #custom-csv-upload {
    display: inline-block;
    margin-left: -4px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid darkgray;
}

#project #project-design #plot-design #custom-csv-upload input[type=file] {
    display: none;
}

#project #project-design #sample-design {
    float: left;
    width: 45%;
}

#project #project-design #plot-design input[type=number],
#project #project-design #sample-design input[type=number] {
    width: 80%;
}

#project #project-design #sample-value-info {
    float: left;
    margin-bottom: 20px;
}

#project #project-design #sample-value-info th,
#project #project-design #sample-value-info td {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.25rem;
}

#project #project-design #sample-value-info .button {
    min-width: 1.5rem;
    min-height: 1.5rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

#project #project-design #sample-value-info .circle {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 0rem auto;
}

#project #project-design #sample-value-info #value-name,
#project #project-design #sample-value-info #value-color,
#project #project-design #sample-value-info #value-image {
    height: 2rem;
    font-size: 0.8rem;
    padding: 0.1rem;
    margin-bottom: 5px;
}

#project #spinner {
    position: absolute;
    top: calc(1.3rem + 21px + 12.5%);
    left: calc(11px + 24%);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border-bottom: 0.5rem solid #3fabc6;
    visibility: hidden;
    animation: sweep 1s infinite linear;
    -webkit-animation: sweep 1s infinite linear;
    -moz-animation: sweep 1s infinite linear;
    -o-animation: sweep 1s infinite linear;
}

@-webkit-keyframes sweep { to { -webkit-transform:rotate(360deg); } }

@-moz-keyframes    sweep { to { -moz-transform:rotate(360deg); } }

@-o-keyframes      sweep { to { -o-transform:rotate(360deg); } }

@keyframes         sweep { to { transform:rotate(360deg); } }
