html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    /*overflow-y: scroll;*/
    font-size:11px;
    min-width:1150px;
    /*prevent text highlighting on dbl click*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}


/*############## CHIP INPUTS ###############################################################*/
#chipOptionHolder{
    margin-top:2px;
    display:inline-block;
}

.chipOptions{
    display:inline-block;
    margin-right:15px;
}

#chipSize, #plotSize{
    width:60px;
}

#zoomSize{
    display:inline-block;
    width:75px;
    margin-bottom:-4px;
}

.colorOptions{
    width:80px;
}

.colorOptions input{
    height:17px;
    width:30px
}


/*###########################################################################################*/


/*############## TS GUIDE ###############################################################*/
/*#tsGuideBody{
	font-size:12px;
	height:750px;
}
#tsGuideBody li:hover{
	background-color: transparent;
}
#btnTsGuide:focus{
	background-color: transparent;
}
#btnTsGuide:hover{
	background-color: #F1F1F1;
}
#btnTsGuide{
	margin:2px 3px 0px 0px;
	text-align: left;
	padding:0px 0px 0px 5px;
	font-size:11px;
	height:21.7167px;
	width:57px;
	float:right;
}*/

/*#doyCalBody{
	font-size:12px;
	height:750px;
}
#doyCalBody li:hover{
	background-color: transparent;
}
#btnDoyCal:focus{
	background-color: transparent;
}
#btnDoyCal:hover{
	background-color: #F1F1F1;;
}
#btnDoyCal{
	margin:2px 3px 0px 0px;
	text-align: left;
	padding:0px 0px 0px 5px;
	font-size:11px;
	height:21.7167px;
	width:57px;
	float:right;
}

#leapCalTable tr{
	line-height: 10px;
	min-height: 10px;
	height: 10px;
	max-height: 10px;
}*/

/*###########################################################################################*/

/*############## TRAJECTORY PLOT ###############################################################*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text,
#specPlotIndex {
    font-family: sans-serif;

}

#plot{
    border:1px solid #afafaf;;
    border-radius: 4px;
    width:100%;
}

circle.data{
    cursor: pointer;
    stroke:none;
    stroke-width:2px;
}

circle.selected{
    stroke:#ED2939; /*#ED2939; '#FF0000;*/
    /*stroke-width:2;*/
}

circle.highlight{
    stroke:#32CD32; /*'#FF0000;*/
    stroke-width:5;
}

/*circle.data:hover{
	stroke:#ED2939;
	stroke-width:1;
}*/

svg{
    margin:-1px;
    /*cursor: n-resize;*/
    display: block;
    width:100%
}

#xybox{
    cursor: move;
}
#xbox{
    cursor: ew-resize;
}
#ybox{
    cursor: ns-resize;
}

#plotLine{
    stroke:#ED2939; /*'#FF0000;*/
    stroke-width:2px;
    fill:none;
    pointer-events: none;

}

.vline{
    stroke: #e9e9e9;
    shape-rendering: crispEdges;
}

.tick line{
    stroke: #e9e9e9;
    shape-rendering: crispEdges;
}
/*###########################################################################################*/




/*############## CHIP GALLERY ###############################################################*/
#chipGallerySection{
    border:1px solid #afafaf;
    border-radius: 4px;
    margin:0px 3px 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.176) 1px 1px 1px /*grey*/;
}

#chip-gallery{
    /*height:59.6vh; 565px*/
    width:auto;
    overflow-y: scroll;
}


/*#chip-gallery canvas{
	display:inline;
	margin:3px;
	vertical-align:top;
	cursor: pointer;
	border: 3px solid white;
}*/

.chipHolder{
    display:inline-block;
    margin:3px;
    border: 3px solid white;
    box-shadow:rgba(0, 0, 0, 0.176) 0px 1px 2px 0px;
}

.chipImg{
    cursor: pointer;
}

.chipDate{
    text-align: center;
    margin-top:-3px;
    cursor:default;
}

#chip-gallery .selected{
    border: 3px solid #ED2939; /*black;*/
}

.chipHolder .highlight{
    border: 3px solid #32CD32;
}

.previousChip, .nextChip, .expandChipYear{
    visibility: hidden;
    cursor: pointer;
}

.chipHolder:hover .previousChip, 
.chipHolder:hover .nextChip {
    visibility: visible;
}
.chipHolder:hover .expandChipYear {
    visibility: hidden;
}

/*#################################################################################################*/



#img-gallery{
    display:none;
}
.chipImgSrc{
    display:none;
}


/*############## SECTION COMPONENTS ###############################################################*/
#topSection{
    /*width:100%;*/
    margin:3px 3px 0px 3px;
    box-shadow:rgba(0, 0, 0, 0.176) 1px 1px 1px /*grey*/;
    vertical-align:top;
    border:1px solid #afafaf; /*#dbdbdb;*/
    border-radius: 4px;
}

#topSection p{
    margin-bottom:5px;
}

#title{
    font-weight:bold;
    font-size:12px;
    padding-left:3px;
    margin:0px 40px 0px 0px;

}



#containerDiv{
    display:table;
    border-spacing: 3px 3px;
    /*margin:5px;*/
}

#plotSelectionDiv{
    min-width:55px; /*55*/
    width:auto;	 /*55*/
}
#plotList{
    list-style-type: none;
    padding-left:0px;
    margin:0px;
    height:281px;
    overflow-y: scroll;
}
#plotList li{
    padding-left:2px;
    padding-right:2px;
    cursor:pointer;
    white-space:nowrap
}

#plotList .done{
    background-color:#32CD32;
}

#plotList .selected{
    background-color:#dbdbdb /*#F1F1F1;*/
}

.glyphicon-none:before {
    content:"\e013";
    color:transparent !important;
}

.glyphicon {
    font-size: 15px;
}




.test{
    text-align: left;
    margin-top:1px;
    padding-left:0px;
    margin-bottom:0px;
    margin-right:-1px;
}
.test li{
    /*text-align: left;*/
    width: 75px;
    display: inline-block;
    /*font-size:12px;*/
    font-weight: bold;
    padding: 0px 3px 3px 3px;
    border: 1px solid #afafaf;
    cursor: pointer;
}

.test li.selected{
    background-color:#dbdbdb; /*#f1f1f1;*/
}

.header{
    padding-left:3px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom:1px;
    padding-bottom:2px;
    cursor:default;
}
.subHeader{
    padding-left:3px;
    font-weight: bold;
    margin-bottom:1px;
    padding-bottom:3px;
}

.sectionDiv{
    display: table-cell;
    vertical-align:top;
    border:1px solid #afafaf;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.176) 1px 1px 1px /*grey*/;
}

#commentsSection{
    width:100%;
}

tr.active{
    background-color:#32CD32;
}
/*#########################################################################################*/

.formDropSelection{
    border:1px solid #afafaf;
    margin:3px 3px 3px 3px; /*0px,3px,3px,3px*/
    cursor:pointer;
    padding-left:3px;
    height:17px; /*20px;*/

}

.LUlist, #landCoverList { /*#landUseList*/
    list-style-type: none;
    padding-left:0px;
    font-size: 11px;
    border:1px solid #afafaf;
    border-radius:0px 0px 4px 4px;
    margin-top:-3px;
    /*margin:3px 3px 3px 3px;*/
    height:125px;
    overflow: scroll;
    overflow-x:hidden;
}


#changeProcessList{
    /*display:none;*/
    list-style-type: none;
    padding-left:0px;
    font-size: 11px;
    border:1px solid #afafaf;
    border-radius:0px 0px 4px 4px;
    margin:-3px 3px 3px 3px; /*3px*/
    height:175px;
}

.notesList{ /*, #LUnotesList, #LCnotesList*/
    border:1px solid #afafaf;
    border-radius:0px 0px 4px 4px;
    margin-top:-3px;
    /*margin:-4px 3px 3px 3px;*/
    list-style-type: none;
    padding-left:0px;
    font-size: 11px;
    height:150px; /*113*/
}

#CPnotesList{
    border:1px solid #afafaf;
    border-radius:0px 0px 4px 4px;
    margin:-3px 3px 3px 3px;
    list-style-type: none;

    font-size: 11px;
    height:192px;
}

#LUnotesList li, #LCnotesList li, #CPnotesList li{
    cursor:default;
}

.disabled{
    color:#afafaf;
    cursor:not-allowed;
    pointer-events: none;
}
.disabled:hover{
    background-color:white;
    cursor:not-allowed;
}

.notesList .selected{
    background-color:#dbdbdb;
}

#changeProcessList .selected, #landUseList .selected, #landCoverList .selected, #landUseListSec .selected{
    background-color:#dbdbdb;
}




#luLevelSwitchHolder{margin:0px 0px -1px 0px;}
#luLevelSwitchHolder li{
    /*text-align: left;*/
    display: inline-block;
    /*font-size:12px;*/
    /*font-weight: bold;*/
    /*padding: 0px 3px 3px 3px;*/
    border: 1px solid #afafaf;
    cursor: pointer;
    width:67.5px;

}

#luLevelSwitchHolder li.selected{
    background-color:#dbdbdb;
}

#lcLevelSwitchHolder{
    margin:0px 0px 2px 0px;
    cursor: default;
}
#lcLevelSwitchHolder li{
    /*padding: 0px 3px 3px 3px;*/
    display: inline-block;
    border: 1px solid #afafaf;
    width:106px;
    background-color:#dbdbdb; /*#f1f1f1;*/
    cursor: default;
    font-weight:bold;
}

#contextMenu{
    border: 1px solid #afafaf;
    border-radius:4px 4px 4px 4px;
    background-color:#dbdbdb;
    /*background-color:rgba(200,200,200, 0.75);*/
    width:115px;
    height:75px;

}

#contextMenuList{
    list-style-type: none;
    cursor: pointer;
    padding-left:0px;
    background-color:#ffffff;
}

#contextMenuList li{padding-left:3px;}




/*#landUseListSec .selected{
	background-color:#dbdbdb;
}*/


/*#LCnotesList{
	height:100px;
}*/

.glyphicon.glyphicon-search{
    font-size:11px;
}
.highlightIt{
    cursor:pointer;
}



/*############## VERTICES FORM ####################################################*/

/*.doneBtn{
	border:1px solid #afafaf;
	border-radius:4px;
	margin:7px 3px 3px 3px;
	text-align:center;
	font-weight: bold;
	cursor:pointer;
	height:40px;
	padding-top:10px;
}
.doneBtn:hover{
	background-color:#f1f1f1;
}
*/

.formDrop{
    cursor:pointer;
}

/*#########################################################################################*/

/*############## COMMENTS SECTION ####################################################*/
.listFormat{
    list-style-type: none;
    padding-left:0px;
    margin:0px;
}



.tableDisplay{
    display:table;
    border-spacing: 0px;
    margin-left:3px;
}


#commentInput{
    height:228px;
    width:100%;
    resize: none;
}

#commentInputDiv{
    margin:3px 3px 3px 3px;
}

#exampleCheckBox{
    margin-left:6px;
    margin-bottom:4px;
}

/*############## TRAJECTORY PLOT BUTTONS ####################################################*/

button:focus {outline:none !important;}

li:hover{
    background-color:#f1f1f1;
}

.dropdown-menu .active{
    background-color:#dbdbdb;
}
.dropdown-menu li{ /*.plot*/
    font-size:11px;
    padding-left:5px;
    cursor:pointer;
    width:99px; /*substract 1 from .dropdown button width because of border*/
}
.dropdown-menu { /*.plot*/
    margin-top: 0;
    min-width:0px;
}

.specPlotDrop:hover .dropdown-menu {
    display: block;
}


.specPlotBtn{
    border: 1px solid #afafaf;
    font-size:11px;
    text-align: left;
    padding:0px 0px 1px 5px;
    width:100px;
    height:35px
}

.specPlotBtn:focus {
    color: #333;
    background-color: white;
    border-color: #afafaf;
}

.buttonText{margin-right:2px;}

.caret.specPlot {
    position: absolute;
    left: 80%;
    top: 65%;
}

.caret.projBtn {
    position: absolute;
    left: 87%;
    top: 40%;
}

.caret.helpBtn {
    position: absolute;
    left: 70%;
    top: 40%;
}

/*#########################################################################################*/



/*############## SEGMENTS TABLE ###########################################################*/
table, th, td {
    margin:-1px;
    border: 1px solid #afafaf;
    border-collapse: collapse;

}


table td, table th{
    padding-left:3px;
}

#segmentsFormDiv, #verticesFormDiv {
    min-height: 280px;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}

#segmentsFormTbl, #verticesFormTbl, #CommentsFormDiv{
    width:310px
}

#verticesFormDiv{
    display:none;
}

#CommentsFormDiv{
    display:none;
    margin:-1px;
    border-top: 1px solid #afafaf;
}

.trHeader{
    background-color:#dbdbdb; /*#f1f1f1;*/
}

#changeProcessList ul{

    list-style-type: none;
    padding-left:0px;
    margin:0px;

}


.dropThis{
    display:none;
    background-color:white;
    border:1px solid #afafaf;
    border-radius:0px 0px 4px 4px;
    box-shadow:rgba(0, 0, 0, 0.176) 0px 6px 12px 0px;
}
.dropThis ul{
    list-style-type: none;
    padding-left:0px;
    margin:0px;
    margin-bottom:3px;
}
.dropThis li{
    padding-left:3px;
    cursor:pointer;
}

/*#########################################################################################*/

.loader,
.loader:after {
    position: absolute;
    left: 50%;
    top: 50%;
    height:120px;
    width:120px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
 }
 
.loader.stop {
    -webkit-animation-iteration-count: 1;
    animation: none;
}

 @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
 }