/*********************************************************************/
/* GENERAL */
/*********************************************************************/
/* Content */
/*************/
#srd td {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    padding: 5px;
    text-align: center;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #31BAB0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #31BAB0;
    cursor: pointer;
}

.full-height{
    height: calc(100vh - 60px);
}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}
.v-center{
    display: flex;
    align-items: center;
}
.no-container-margin{
    margin-left:-15px;
    margin-right:-15px;
}
.overflow-hidden {
    overflow: hidden;
}
.disabled-group {
    opacity: 0.4;
    pointer-events: none;
}

/* Fonts */
/*************/
@font-face {
font-family: 'CaviarDreams';
src: url('/fonts/CaviarDreams.eot');
src: local('☺'),
url('/fonts/CaviarDreams.woff') format('woff'),
url('/fonts/CaviarDreams.ttf') format('truetype'),
url('/fonts/CaviarDreams.svg') format('svg');
}
@font-face {
font-family: 'CaviarDreams_Bold';
src: url('/fonts/CaviarDreams_Bold.eot');
src: local('☺'),
url('/fonts/CaviarDreams_Bold.woff') format('woff'),
url('/fonts/CaviarDreams_Bold.ttf') format('truetype'),
url('/fonts/CaviarDreams_Bold.svg') format('svg');
}
/* Typography */
/*************/

h1, h2{
    font-family:'CaviarDreams';
    color:#707070;
    text-align:center;
}
h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1rem;}
h4 {font-size: 0.5rem;}

/* Colors */
/*****************/
/* Lightgreen           #31BAB0 */
/* Lightgreen:hover     #279B93 */
/* Darkgreen            #0C4D48 */
/* Darkgreen:hover      #0b302c */
/* Yellow               #FCCF07 */
/* Yellow:hover         #ecbc0d */
/* Lightgray            #ECEEEF */
/* Lightgray:hover      #dadcdf */
/* Darkgray             #0C4D48 */
/* Darkgray:hover       #0b302c */


.bg-darkgreen{
    background-color:#0C4D48!important;
    color:white;
}
.bg-darkgreen h1,.bg-darkgreen h2{
    padding:1rem;
    color:white;
    margin:0;
}
.bg-lightgreen{
    background-color:#31BAB0!important;
    color:white;
}
.bg-lightgray{
    background-color:#ECEEEF!important;
}

/* Buttons */
/*****************/

.btn {
    border-width: 1.5px;
    font-weight: bold;
}
.btn-lightgray{
    background-color:#ECEEEF!important;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.btn-yellow{
    background-color:#FCCF07!important;
    color:#279B93;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.btn-yellow a:hover{
    background-color:#ecbc0d!important;
    color:#279B93;
}
.btn-lightgray:hover{
    background-color:#dadcdf!important;
}
.btn-outline-lightgreen{
    color: #31BAB0;
    background-color: white;
    background-image: none;
    border-color: #31BAB0;
}
.btn-outline-lightgreen:hover{
    color: #ffff;
    background-color: #31BAB0;
    border-color: #31BAB0;
}
.btn-outline-lightgray{
    color: black;
    background-color: white;
    background-image: none;
    border-color: #ECEEEF;
}
.btn-outline-lightgray:hover{
    background-color: #dadcdf;
    border-color: #dadcdf;
}
.btn-outline-darkgray{
    color: #5e5f60;
    background-color: white;
    background-image: none;
    border-color: #5e5f60;
}
.btn-outline-darkgray:hover{
    color: #ffff;
    background-color: #3a3b3c;
    border-color: #3a3b3c;
}
.btn-outline-yellow{
    color: #f1c00f;
    background-color: white;
    background-image: none;
    border-color: #FCCF07;
}
.btn-outline-yellow:hover{
    color: black;
    background-color: #FCCF07;
    border-color: #FCCF07;
}
.btn-outline-red{
    color: #c42121;
    background-color: white;
    background-image: none;
    border-color: #c42121;
}
.btn-outline-red:hover{
    color: white;
    background-color: #c42121;
    border-color: #c42121;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn.bg-lightgreen:hover{
    background-color: #279B93!important;
    color:white;
}
/* Links */
/*************/
a {
    color:#31BAB0;
}
a:hover{
    color:#279B93;
    text-decoration:none;
}
/* Cards */
/*************/
.card-lightgreen {
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-color: #31BAB0;
}
.card-header-lightgreen {
    color: white;
    background-color: #31BAB0;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.1rem;
    font-weight: 500;
}
/*****************/
/* Flash Message */
/*****************/

.alert {
    position: absolute;
    top: 4rem;
    left: 1rem;
    width: 35rem;
    border: 1px solid #009;
    padding: 1rem;
    z-index: 1000;
    font-size: 1rem;
    font-style: italic;
    background: white;
    opacity: 0;
    animation: fade-out 6s;
    -webkit-animation: fade-out 6s;
    -moz-animation: fade-out 6s;
    -o-animation: fade-out 6s;
}

@-webkit-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
/*********************************************************************/
/* NAV */
/*********************************************************************/
@media (min-width: 992px) {
    #main-nav .nav-item.active, #main-nav .nav-item.active:hover{
        border-top: solid 4px #31BAB0;
        margin-top: -10px;
        padding-top: 6px;
        }

    #main-nav .nav-item:hover{
        border-top: solid 4px #FCCF07;
        margin-top: -10px;
        padding-top: 6px;
        }

    #main-nav .nav-item#username, #main-nav .nav-item#login-button{
        border:none;
        padding-top:0;
    }
}
@media (max-width: 992px) {
    .navbar .collapse.show{
    padding-bottom:1rem;
    }
        #main-nav .nav-item.active, #main-nav .nav-item.active:hover{
            border-left: solid 4px #31BAB0;
            margin-left: -9px;
            padding-left: 5px;
        }
        #main-nav .nav-item:hover{
            border-left: solid 4px #FCCF07;
            margin-left: -9px;
            padding-left: 5px;
        }
        #main-nav .nav-item#username, #main-nav .nav-item#login-button{
            border:none;
            padding-left:0;
            margin-left:0;
    }
}
/*********************************************************************/
/* HOME PAGE */
/*********************************************************************/

#home-map-pane {
    width: 100%;
    position: fixed;
}

#home-map-pane .ol-attribution {
    position: fixed;
}

#toggle-map-button {
    position: absolute;
    top: 50%;
    padding: .5rem .2rem;
    z-index: 1;
    border-radius: 0 10% 10% 0;
    cursor: pointer;
}

#home #ceo-description {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0rem;
    border-bottom: 2px solid darkgray;
    overflow: auto;
    display: none;
}

#lPanel ul {
    padding-left:0;
    list-style:none;
    margin-bottom: 0;
}

#lPanel a li.bg-yellow:hover {
    background-color:#ecbc0d!important;
    color:white;
}

#lPanel .btn.bg-lightgreen, #lPanel .btn.btn-outline-lightgreen {
    white-space: normal;
}

.visit-btn {
    border: 1px solid white;
    color: white;
    background-color: #31bab0;
}

.visit-btn:hover {
    color: black;
    background-color: #f1c00f;
}

/* map popover */
/*************/
/* .ol-popup{ */
.ol-overlay-container {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    background-color: white;
    width:380px;
    /* .ol-popup*/
    display: block;
    position: absolute;
    background-color: white;
    padding: 0px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    -webkit-box-shadow: 3px -10px 3px rgba(0,0,0,.35);
    box-shadow: 3px 5px 3px rgba(0,0,0,.35);
    border-radius: 5px;
    max-height: 40vh;
}
/* .ol-popup-content .cContent{ */
.ol-overlay-container .cContent {
    padding:0 1rem 1rem 1rem;
}
.ol-overlay-container table {
    margin:0;
}
a.ol-popup-closer.close{
    font-size:1rem;
}
/* .ol-popup-content .cTitle h1{ */
.ol-overlay-container .cTitle h1 {
    color:white;
    font-family:inherit;
    font-size:1rem;
    padding:.6rem;
    margin-bottom:0;
    font-weight: 400;
}

/* .ol-popup-content .cTitle { */
.ol-overlay-container .cTitle {
    background-color:#31BAB0;
}
.ol-overlay-container td{border-top: none;}
.ol-overlay-container tr{border-top: 1px solid #dee2e6;}
.ol-overlay-container tr:first-child{border-top: none;margin-top:.3rem;}
.ol-overlay-container tr:last-child{}

/*********************************************************************/
/* LOGIN PAGE/REGISTER PAGE */
/*********************************************************************/
h2.header{
    color:white;
    background:#31BAB0;
    margin: 0 -15px 10px -15px;;
    padding:1rem;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size:1.1rem;
    font-weight:500;
}
.modal-content{
    max-height: calc(100vh - 50px);
}
.input-group-addon {
    margin: 8px;
}
.modal-body{
    overflow-y: auto;
}
.modal-header{
    color:white;
    background:#31BAB0;
    margin: 0 0px 10px 0px;;
    padding:1rem;
    min-height: 57px;
}
.modal-title{
    font-size:1rem;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color:white;
}
.modal-footer{
    min-height: 71px;
}
/*********************************************************************/
/* PROJECT PAGE */
/*********************************************************************/
.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 0rem auto;
}

#project-design.bg-lightgray:hover, #account-page.bg-lightgray:hover{
    background-color:#ECEEEF!important;
}
#project-design h3{
    margin-top:1rem;
}
#project-design p{
    margin-bottom: 0rem;
    font-size:80%;
    margin-top:0.5rem;
}
#project-design-form .header{
    margin-left:-8px;
    margin-right:-8px;
}
/*********************************************************************/
/* COLLECTION PAGE */
/*********************************************************************/
ul.samplevalue{
    padding-left:0;
    column-count: 2;
}
.samplevalue li{
    list-style:none;
    margin-bottom:1rem;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
#imagery-info {
    position: absolute;
    top: 0px;
    left: 20%;
    height: auto;
    width: 60%;
    padding: 0.25rem;
    text-align: center;
    color: white;
    background-color: rgba(75,75,150,1.0);
    z-index: 100;
}

#download-kml {
    position: absolute;
    left: 40%;
    bottom: 5px;
    height: 2rem;
    padding: 0.25rem;
    text-align: center;
    background-color: #31BAB0;
    z-index: 100;
    width: 20%;
    border-radius: 10px;
}
/*********************************************************************/
/* NEW COLLECTION PAGE */
/*********************************************************************/
.ce-forms-container div.steps.wizard div.steps,
.ce-forms-container div.actions.clearfix {
    display: none;
}
/*********************************************************************/
/* INSTITUTION PAGE */
/*********************************************************************/
#institution .header{margin:1rem 0;}
#institution .badge-light{
    color: #31BAB0;
    background-color: #f8f9fa;
}

/* FIXME, move any remaining css to geo-dash.css as necessary */
/*********************************************************************/
/* GEO DASH WIDGET EDITOR PAGE */
/*********************************************************************/

.container-fluid.widgetEditor{
    width:100%;
}
.active-widget{
    opacity: .5;
    outline: 4px dotted #ecbc0d;
    outline-offset: 5px;
}

/****************************/
/* Project Creation Spinner */
/****************************/

#spinner {
    position: absolute;
    left: calc(50% - 2rem);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border-bottom: 0.5rem solid #3fabc6;
    visibility: hidden;
    animation: sweep 1s infinite linear;
    -o-animation: sweep 1s infinite linear;
    -moz-animation: sweep 1s infinite linear;
    -webkit-animation: sweep 1s infinite linear;
}

@keyframes         sweep { to { transform:rotate(360deg); } }
@-o-keyframes      sweep { to { -o-transform:rotate(360deg); } }
@-moz-keyframes    sweep { to { -moz-transform:rotate(360deg); } }
@-webkit-keyframes sweep { to { -webkit-transform:rotate(360deg); } }


/****************************/
/* ExpandableImage          */
/****************************/

@media (max-width: 768px) {
    .ExpandableImage__previewImg{
        width:100% !important;
    }
}

/****************************/
/* Planet Layer Switcher    */
/****************************/

.planet-layer-switcher {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    text-align: left;
}

.planet-layer-switcher-panel {
    padding: 0 1em 0 0;
    margin: 0;
    border: 4px solid #eee;
    border-radius: 4px;
    background-color: white;
    max-height: 20em;
    overflow-y: scroll;
}

.planet-layer-switcher-ul {
    padding-left: 2em;
    list-style: none;
}

.planet-layer-switcher-layer {
    display: table;
    margin-left: -18px;
}

/*****************/
/* Mailing List  */
/*****************/
.ck-editor__editable {
    min-height: 200px;
}