/***********/
/* General */
/***********/
.srd td {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    padding: 5px;
    text-align: center;
}
.slide-container {
    width: 100%;
    padding: .3rem .5rem .15rem .5rem;
    border: 1px solid #ced4da;
    border-top: none;
}
.slide-container:first-child {
    border-top: 1px solid #ced4da;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}
.slide-container:last-child {
    border-bottom: 1px solid #ced4da;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.slide-container label, .slide-container input, .slide-container select, .slide-container textarea {
    margin-bottom: .25rem;
}
.slide-container button {
    margin: .25rem 0;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #31bab0;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #31bab0;
    cursor: pointer;
}
.full-height {
    height: calc(100vh - 60px);
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}
.v-center {
    display: flex;
    align-items: center;
}
.no-container-margin {
    margin-left: -15px;
    margin-right: -15px;
}
.overflow-hidden {
    overflow: hidden;
}
.disabled-group {
    opacity: 0.4;
    pointer-events: none;
}

/*********/
/* Fonts */
/*********/
@font-face {
    font-family: 'CaviarDreams';
    src: url('/fonts/CaviarDreams.eot');
    src: local('☺'),
        url('/fonts/CaviarDreams.woff') format('woff'),
        url('/fonts/CaviarDreams.ttf') format('truetype'),
        url('/fonts/CaviarDreams.svg') format('svg');
}
@font-face {
    font-family: 'CaviarDreams_Bold';
    src: url('/fonts/CaviarDreams_Bold.eot');
    src: local('☺'),
        url('/fonts/CaviarDreams_Bold.woff') format('woff'),
        url('/fonts/CaviarDreams_Bold.ttf') format('truetype'),
        url('/fonts/CaviarDreams_Bold.svg') format('svg');
}

/**************/
/* Typography */
/**************/
h1, h2 {
    font-family: 'CaviarDreams';
    color: #707070;
    text-align: center;
}
h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1rem;}
h4 {font-size: 0.8rem;}

/**********/
/* Colors */
/**********/
/* Lightgreen           #31bab0 */
/* Lightgreen:hover     #279b93 */
/* Darkgreen            #0c4d48 */
/* Darkgreen:hover      #0b302c */
/* Yellow               #fccf07 */
/* Yellow:hover         #ecbc0d */
/* Lightgray            #eceeef */
/* Lightgray:hover      #dadcdf */
/* Darkgray             #0c4d48 */
/* Darkgray:hover       #0b302c */

.bg-darkgreen {
    background-color: #0c4d48;
    color: white;
}
.bg-darkgreen h1,.bg-darkgreen h2 {
    padding: 1rem;
    color: white;
    margin: 0;
}
.bg-lightgreen {
    background-color: #31bab0;
    color: white;
}
.bg-lightgray {
    background-color: #eceeef;
}

/***********/
/* Buttons */
/***********/
.btn {
    border-width: 1.5px;
    font-weight: bold;
}
.btn > .svg-icon > svg {
    vertical-align: top;
}
.btn-lightgray {
    background-color: #eceeef;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-lightgray:hover {
    background-color: #dadcdf;
}
.btn-darkgray {
    background-color: #5e5f60;
    color: #ffff;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-darkgray:hover {
    background-color: #ffff;
    color: #5e5f60;
    border-color: #5e5f60;
}
.btn-yellow {
    background-color: #fccf07;
    color: #279b93;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-yellow a:hover {
    background-color: #ecbc0d;
    color: #279b93;
}
.btn-lightgreen {
    background-color: #31bab0;
    color: white;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-lightgreen:hover {
    background-color: #279b93;
    color: white;
}
.btn-red {
    background-color: #c42121;
    color: white;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-red:hover {
    background-color: #8f1717;
    color: white;
}
.btn-outline-lightgreen {
    color: #31bab0;
    background-color: white;
    background-image: none;
    border-color: #31bab0;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-outline-lightgreen:hover {
    color: #ffff;
    background-color: #31bab0;
    border-color: #31bab0;
}
.btn-outline-lightgray {
    color: black;
    background-color: white;
    background-image: none;
    border-color: #eceeef;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-outline-lightgray:hover {
    background-color: #dadcdf;
    border-color: #dadcdf;
}
.btn-outline-darkgray {
    color: #5e5f60;
    background-color: white;
    background-image: none;
    border-color: #5e5f60;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-outline-darkgray:hover {
    color: #ffff;
    background-color: #3a3b3c;
    border-color: #3a3b3c;
}
.btn-outline-yellow {
    color: #f1c00f;
    background-color: white;
    background-image: none;
    border-color: #fccf07;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-outline-yellow:hover {
    color: white;
    background-color: #fccf07;
    border-color: #fccf07;
}
.btn-outline-red {
    color: #c42121;
    background-color: white;
    background-image: none;
    border-color: #c42121;
    -webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.btn-outline-red:hover {
    color: white;
    background-color: #c42121;
    border-color: #c42121;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*********/
/* Links */
/*********/
a {
    color: #31bab0;
}
a:hover {
    color: #279b93;
    text-decoration: none;
}

/*********/
/* Cards */
/*********/
.card-lightgreen {
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-color: #31bab0;
}
.card-header-lightgreen {
    color: white;
    background-color: #31bab0;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.1rem;
    font-weight: 500;
}

/*****************/
/* Flash Message */
/*****************/
.alert {
    position: absolute;
    top: 4rem;
    left: 1rem;
    width: 35rem;
    border: 1px solid #009;
    padding: 1rem;
    z-index: 1000;
    font-size: 1rem;
    font-style: italic;
    background: white;
    opacity: 0;
    animation: fade-out 6s;
    -webkit-animation: fade-out 6s;
    -moz-animation: fade-out 6s;
    -o-animation: fade-out 6s;
}
@-webkit-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fade-out {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

/**************/
/* Navigation */
/**************/
@media (min-width: 992px) {
    #main-nav .nav-item.active, #main-nav .nav-item.active:hover {
        border-top: solid 4px #31bab0;
        margin-top: -10px;
        padding-top: 6px;
    }
    #main-nav .nav-item:hover {
        border-top: solid 4px #fccf07;
        margin-top: -10px;
        padding-top: 6px;
    }
    #main-nav .nav-item#username, #main-nav .nav-item#login-button {
        border: none;
        padding-top: 0;
    }
}
@media (max-width: 992px) {
    .navbar .collapse.show {
        padding-bottom: 1rem;
    }
    #main-nav .nav-item.active, #main-nav .nav-item.active:hover {
        border-left: solid 4px #31bab0;
        margin-left: -9px;
        padding-left: 5px;
    }
    #main-nav .nav-item:hover {
        border-left: solid 4px #fccf07;
        margin-left: -9px;
        padding-left: 5px;
    }
    #main-nav .nav-item#username, #main-nav .nav-item#login-button {
        border: none;
        padding-left: 0;
        margin-left: 0;
    }
}

/************/
/* Tool Tip */
/************/
.tooltip_wrapper {
    color: #279b93;
    position: relative;
    display: inline-block;
}
.tooltip_content {
    visibility: hidden;
    background-color: black;
    border-radius: 6px;
    color: #ffffff;
    left: 0;
    font-weight: normal;
    max-width: max-content;
    text-align: center;
    padding: 5px 5px 5px 5px;
    position: absolute;
    top: 110%;
    width: 500px;
    z-index: 1;
}
.tooltip_content::after {
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    content: "";
    left: 12%;
    position: absolute;
}
.tooltip_wrapper:hover .tooltip_content {
    visibility: visible;
}
.tooltip_content.survey_tree {
    left: -35%;
    list-style-type: disc;
    text-align: initial;
    padding: 5px 5px 5px 25px;
    width: 300px;
}

/*************/
/* Home Page */
/*************/
#home-map-pane {
    width: 100%;
    position: fixed;
}
#home-map-pane .ol-attribution {
    position: fixed;
}
#toggle-map-button {
    position: absolute;
    top: 50%;
    padding: .5rem .2rem;
    z-index: 1;
    border-radius: 0 10% 10% 0;
    cursor: pointer;
}
#home #ceo-description {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0rem;
    border-bottom: 2px solid darkgray;
    overflow: auto;
    display: none;
}
#lPanel ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
#lPanel a li.bg-yellow:hover {
    background-color: #ecbc0d;
    color: white;
}
#lPanel .btn.bg-lightgreen, #lPanel .btn.btn-outline-lightgreen {
    white-space: normal;
}
.visit-btn {
    border: 1px solid white;
    color: white;
    background-color: #31bab0;
}
.visit-btn:hover {
    color: black;
    background-color: #f1c00f;
}

/***************/
/* Map Overlay */
/***************/
.ol-overlay-container {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    background-color: white;
    width: 380px;
    display: block;
    background-color: white;
    padding: 0px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 3px -10px 3px rgba(0,0,0,.35);
    box-shadow: 3px 5px 3px rgba(0,0,0,.35);
    border-radius: 5px;
    max-height: 40vh;
}
.ol-overlay-container .cContent {
    padding: 0 1rem 1rem 1rem;
}
.ol-overlay-container table {
    margin: 0;
}
a.ol-popup-closer.close {
    font-size: 1rem;
}
.ol-overlay-container .cTitle h1 {
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: .6rem;
    margin-bottom: 0;
    font-weight: 400;
}
.ol-overlay-container .cTitle {
    background-color: #31bab0;
}
.ol-overlay-container td {border-top: none;}
.ol-overlay-container tr {border-top: 1px solid #dee2e6;}
.ol-overlay-container tr:first-child {border-top: none; margin-top: .3rem;}

/***********************/
/* Login/Register Page */
/***********************/
h2.header {
    color: white;
    background: #31bab0;
    margin: 0 -15px 10px -15px;;
    padding: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.1rem;
    font-weight: 500;
}
.modal-content {
    max-height: calc(100vh - 50px);
}
.input-group-addon {
    margin: 8px;
}
.modal-body {
    overflow-y: auto;
}
.modal-header {
    color: white;
    background: #31bab0;
    margin: 0 0px 10px 0px;;
    padding: 1rem;
    min-height: 57px;
}
.modal-title {
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white;
}
.modal-footer {
    min-height: 71px;
}

/****************/
/* Project Page */
/****************/
.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 0rem auto;
}
#project-design.bg-lightgray:hover, #account-page.bg-lightgray:hover {
    background-color: #eceeef;
}
#project-design h3 {
    margin-top: 1rem;
}
#project-design p {
    margin-bottom: 0rem;
    font-size: 80%;
    margin-top: 0.5rem;
}
#project-design-form .header {
    margin-left: -8px;
    margin-right: -8px;
}

/*******************/
/* Collection Page */
/*******************/
ul.samplevalue {
    padding-left: 0;
    column-count: 2;
}
.samplevalue li {
    list-style: none;
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
#imagery-info {
    position: absolute;
    top: 0px;
    left: 20%;
    height: auto;
    width: 60%;
    padding: 0.25rem;
    text-align: center;
    color: white;
    background-color: rgba(75,75,150,1.0);
    z-index: 100;
}

#mobile-analysis-pane .ol-zoom {
    top: 2.5rem !important;
}

/********************/
/* Institution Page */
/********************/
#institution .header {margin: 1rem 0;}
#institution .badge-light {
    color: #31bab0;
    background-color: #f8f9fa;
}

/****************************/
/* Project Creation Spinner */
/****************************/
#spinner {
    position: absolute;
    left: calc(50% - 2rem);
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border-bottom: 0.5rem solid #3fabc6;
    animation: sweep 1s infinite linear;
    -o-animation: sweep 1s infinite linear;
    -moz-animation: sweep 1s infinite linear;
    -webkit-animation: sweep 1s infinite linear;
}

@keyframes         sweep { to { transform: rotate(360deg); } }
@-o-keyframes      sweep { to { -o-transform: rotate(360deg); } }
@-moz-keyframes    sweep { to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }

/********************/
/* Expandable Image */
/********************/
@media (max-width: 768px) {
    .ExpandableImage__previewImg {
        width: 100%;
    }
}

/*************************/
/* Planet Layer Switcher */
/*************************/
.planet-layer-switcher {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    text-align: left;
}
.planet-layer-switcher-panel {
    padding: 0 1em 0 0;
    margin: 0;
    border: 4px solid #eee;
    border-radius: 4px;
    background-color: white;
    max-height: 20em;
    overflow-y: scroll;
}
.planet-layer-switcher-ul {
    padding-left: 2em;
    list-style: none;
}
.planet-layer-switcher-layer {
    display: table;
    margin-left: -18px;
}

/**********/
/* Switch */
/**********/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch > .switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch > .switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-slider {
  background-color: #2196F3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
