/*
 * General
 */
.btn.btn-primary {
    backface-visibility: unset !important;
}
.btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
}
.ol-control button {
    background-color: rgb(49, 186, 176);
}

/*
 * Dual Image slider
 */
.toggleSwitchContainer {
    align-content: center;
    padding: 5px;
    width: 80px;
    float: left;
}

/*
 * Main content
 */
#geodash .row {
    margin-right: auto;
    margin-left: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
 * Widget Grid Container
 */
.widget-container {
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 6px 0px  rgba(0,0,0,.5);
    box-shadow: 3px 3px 6px 0px  rgba(0,0,0,.5);

    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.widget-container-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    min-width: 0;
}
.widget-container-heading {
    color: #31bab0;
    background-color: #e7e7e7;
    border-bottom: 1px solid transparent;
    justify-content: space-between;
    display: flex;
    padding: .5rem 1rem;
    position: relative;
}

/*
 * Fill Screen Widget
 */
.full-screen {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: auto;
    z-index: 1500;
}
.full-widget {
    position: fixed;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    height: auto;
    width: auto;
    z-index: 2000;
}

/*
 * Map Control Slider
 */
.mapRange {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    padding:20px 10px;
}
.mapRange::-webkit-slider-thumb {
    -webkit-appearance: none;
}
.mapRange:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.mapRange::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
/* Special styling for WebKit/Blink */
.mapRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
/* All the same stuff for Firefox */
.mapRange::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
/* All the same stuff for IE */
.mapRange::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
.mapRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #31BAB0;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.mapRange:focus::-webkit-slider-runnable-track {
    background: #31BAB0;
}
.mapRange::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #31BAB0;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.mapRange::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.mapRange::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.mapRange:focus::-ms-fill-lower {
    background: #3071a9;
}
.mapRange::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.mapRange:focus::-ms-fill-upper {
    background: #367ebd;
}

/*
 * Degradation Widget
 */
.settings-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}
.settings-block input {
    padding: 0 .25rem;
}
.settings-block label {
    margin-bottom: 0;
}
.settings-item {
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: .85rem;
    height: 2rem;
    white-space: nowrap;
}
