@import "./colors.css";

#highlights-tab {
    width: 100%;
    font-family: "Public-Sans";
}

.header {
    display: flex;
    padding: 24px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border-bottom: 1px solid var(--Neutral-Soft-gray, #E1E1E1);
    background: var(--Neutral-White, #FFF);
}

.header-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-link span {
    color: var(--Primary-Standard-Green, #1F7067);
    text-align: justify;
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    text-transform: capitalize;
}

.header-title {
    color: var(--Neutral-Black, #000);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Header/H4 */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.header-subtitle {
    color: var(--Neutral-Md-Gray, #767575);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Paragraph/Small */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.highlights-body{
    display: flex;
    padding: 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: var(--Primary-Light-Green, #E9F1F0);
}

.highlights {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    gap: 40px;
}

.highlight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.highlight-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;}

.highlight-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.highlight-subtitle {
    color: var(--Neutral-Md-Gray, #767575);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Paragraph/Small */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.highlight-title span {
    color: var(--Neutral-Black, #000);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Header/H4 */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}

.highlight-link {
    color: var(--Primary-Standard-Green, #1F7067);
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
}

.highlight-link span {
    cursor: pointer;
    color: var(--Primary-Standard-Green, #1F7067);
    text-align: justify;
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

#blogs {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.blog-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Primary-Highlight-Green, #A0CAC6);
    background: #FFF;
}

.blog-graphic {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
}

.blog-body {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #FFF;}

.blog-date {
    color: #FFF; /* this keeps the calendar svg looking pretty */
    display: flex;
    align-items: center;
    gap: 8px;
}

.blog-date span {
    color: #6A7282;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Paragraph/Small */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.blog-title-row {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.blog-title {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    justify-content: space-between;
}

.blog-title svg {
    cursor: pointer;
    color: var(--Primary-Standard-Green, #1F7067);
}

.blog-title span {
    color: var(--Neutral-Black, #000);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */}

.blog-subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    color: var(--Neutral-Black, #000);
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;

    /* Paragraph/Small */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */}

.tags {
    display: flex;
    align-items: flex-start;
    gap: 8px;}

.tag {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Primary-Light-Green, #E9F1F0);
    cursor: pointer;
}

.tag span {
    color: var(--Primary-Main-Green, #07443D);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 116.667% */}

#projects {
    display: flex;
    height: 876px;
    align-items: flex-start;
    gap: 16px;
    width: 100%;}

#projects-map-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-grow: 1;
}

#projects-map {
    position: relative;
    width: 100%;
    display: flex;

    padding-top: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
}

#projects-column{
    display: flex;
    width: 780px;
    height: 860px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.project {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--Primary-Highlight-Green, #A0CAC6);
    background: var(--Neutral-White, #FFF);}

.ghost-button {
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid var(--Primary-Standard-Green, #1F7067);
    background: var(--Neutral-White, #FFF);

}

.ghost-button div{
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Primary-Standard-Green, #1F7067);}


.ghost-button div span {

    color: var(--Primary-Standard-Green, #1F7067);

    /* Buttons/Light */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    text-transform: capitalize;}

.primary-button {
    cursor: pointer;
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--Primary-Standard-Green, #1F7067);

}

.primary-button div {
    display: flex;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.primary-button div span {
    color: var(--Neutral-White, #FFF);

    /* Buttons/Light */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    text-transform: capitalize;
    

}

.primary-button div svg {
    fill: var(--Neutral-White, #FFF);
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.project-title  {
    color: var(--Neutral-Black, #000);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.project-attribution {
    display: flex;
    align-items: center;
    gap: 8px;
    color:#FFF;
}
.project-attribution span {
    color: var(--Primary-Main-Green, #07443D);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 100% */    
}


.project-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.project-description span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    color: var(--Neutral-Black, #000);
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;

    /* Paragraph/Small */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.expand-description {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.expand-description span {
    color: var(--Primary-Standard-Green, #1F7067);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Link/Default */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}

.project-controls {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}


#home-map-pane {
    width: 100%;
    position: absolute;
}
#home-map-pane .ol-attribution {
    position: fixed;
}

#mapPanel {
    flex-grow: 1;}
