.nav-sidebar {
    width: 100px;
    height: 100vh;
    z-index: 1000;
    
    padding-right: 0 !important;
    padding-left: 0 !important;

    position: fixed;
    top: 54px;
    left: 0;
    bottom: 0;

    align-items: flex-start;

    display: flex;
    flex-direction: column;

    padding: 1rem .5rem ;

    background-color: #393E46;
   
}

.sidebar-navicon {
    display: flex;
    padding: 12px 12px 12px 8px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    min-width: 92px;
}

.nav-topbar{
    display: flex;
    width: 100vw;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F7067
		      /* background: var(--Primary-Standard-Green, #1F7067); */
}
