@import "./colors.css";

.project-wizard-container {
    background-color: var(--Primary-Light-Green);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wizard-layout-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 100%;
}

.wizard-header {
    flex: 0 0 auto;
}

.wizard-step-body {
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: var(--Primary-Light-Green);
    position: relative;
    display: flex;
    flex-direction: column;
}

.wizard-footer {
    flex: 0 0 auto;
    border-top: 1px solid var(--Neutral-Soft-gray);
}

.project-wizard-navigator {
    display: inline-flex;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    background: var(--Neutral-White);
    box-shadow: 1px 4px 3px 0 rgba(0, 0, 0, 0.12);
}

.project-wizard-navigator span {
    border-radius: 50%;
    background-color: var(--Neutral-Soft-gray);
    width: 24px;
    height: 24px;
    color: var(--Neutral-Text-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px;
}

.project-wizard-navigator .selected {
    background-color: var(--Neutral-White);
    color: var(--Brand-Teal);
    border: 2px solid var(--Brand-Teal);
}

.project-wizard.overview-step {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border-radius: 4px;
    border: 1px solid var(--Primary-Highlight-Green);
    background: var(--Neutral-White);
    display: flex;
    width: 720px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.imagery-step-layout {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.imagery-sidebar {
    flex: 0 0 35%;
    min-width: 350px;
    height: 100%;
    overflow-y: auto;
    background: var(--Neutral-White);
    border-right: 1px solid var(--Neutral-Soft-gray);
    padding: 20px;
}

.map-area {
    flex: 1;
    position: relative;
    height: 100%;
    background-color: #cbd5e1;
}

.text-input {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--Neutral-Soft-gray);
    margin-top: 4px;
    margin-bottom: 12px;
}

.nav-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    background: var(--Neutral-White);
    padding: 16px;
}

.labeled-input {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    cursor: pointer;
}
